.ResumeCard {
    position: relative;
    width: 100%;
    height: 100%;
}

.ResumeCardText {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ResumeCardHover {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: var(--gold);
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
}

.ResumeCardHover h4 {
    font-weight: 600;
}

.ResumeCardHover a {
    color: var(--foreground);
}

.ResumeCardHover a:hover {
    opacity: 0.6;
}
