.ContentContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    background-color: white;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .ContentContainer {
        border-radius: 25px;
        margin: 0 auto;
        overflow: hidden;
    }
}