.PortfolioCard {
    position: relative;
    width: 100%;
    height: 100%;
}

.PortfolioCardText {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.PortfolioCardHover {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
}

.PortfolioCardHover h4 {
    font-weight: 600;
}

.PortfolioCardHover a {
    display: flex;
    gap: 7px;
    align-items: center;
    color: white;
    transition: color 0.2s ease-in-out;
}

.PortfolioCardHover a:hover {
    color: var(--gold);
}

.Arrow i {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: border 0.2s ease;
}

.PortfolioCardHover a:hover .Arrow i {
    border: solid var(--gold);
    border-width: 0 1px 1px 0;
}