.Card {
    display: block;
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.Card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 500px) {
    .Card {
        border: 1px solid var(--lightest-grey);
        border-radius: var(--border-radius);
        width: 250px;
        height: 330px;
    }
}