.Card {
    display: block;
    background-color: white;
    width: 80%;
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: auto;
}

.Card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 700px) {
    .Card {
        width: 250px;
        height: 330px;
    }
}

@media screen and (max-width: 700px) {
    .Card {
        height: 350px;
    }
    
}