.PorfolioCard {
    position: relative;
    width: 100%;
    height: 100%;
}

.PorfolioCardText {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.PortolioCardHover {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--gold);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
